resource "google_compute_instance" "vm_instance" {
  // one machine for gitlab and one for nginx
  count        = 2
  name         = "infra-${count.index}"
  machine_type = "n1-standard-2"

  tags = ["gitlab", "http-server", "https-server"]

  boot_disk {
    initialize_params {
      image = "centos-7"
    }
  }

  // Adiciona a SSH Publica nos dados do projeto, já criado o usuário
  metadata {
    // importante estar no formato usuario:chave
    ssh-keys = "usuarioAtual:rsa-usuárioautal"
  }

  network_interface {
    network = "default"

    access_config {
    }
  }
  // adiciona o ip de cada máquia no arquivos hosts do ansible
  provisioner "local-exec" {
      command = "echo \"\n${self.network_interface.0.access_config.0.nat_ip}\" | tee -a hosts"
  }
}
