---
##
## nginx stuff
- name: Create nginx config directory
  file:
    path: /opt/nginx/conf.d
    state: directory
    recurse: true

- name: Create ngnix certificates directory
  file:
    path: /opt/nginx/certs
    state: directory
    recurse: true

- name: Copy nginx.conf
  copy:
    src: nginx.conf
    dest: /opt/nginx/nginx.conf

- name: Copy nginx-default.conf
  copy:
    src: nginx-default.conf
    dest: /opt/nginx/conf.d/default.conf

- name: Copy nginx-app1.conf
  copy:
    src: nginx-app1.conf
    dest: /opt/nginx/conf.d/app1.conf

##
## application files
- name: Application directory
  file:
    path: /opt/application
    state: directory

- name: Clone application repository
  git:
    repo: https://gitlab.com/USERNAME/PUBLIC_REPOSITORY.git
    dest: /opt/application
    update: no
    version: master

##
## SSL Certificates
- name: Copy ssl certs for app1
  copy:
    src: "{{ item }}"
    dest: /opt/nginx/certs
  with_fileglob:
    - ../../../certs/app1/*
